<h1 class="title animate__animated animate__fadeIn">{{ title }}</h1>

<ul *ngIf="state ==='list'">
  <p *ngIf="todos.length === 0"><small>Suas tarefas aparecerão aqui!</small></p>
  <li *ngFor="let todo of todos" class="card todo-card animate__animated animate__flipInX">
    <h4>{{ todo.title }}</h4>
    <div class="btn-group todo-btn-group">
      <button *ngIf="!todo.done" (click)="markTodoAsDone(todo)" class="todo-btn">
        <i class="far fa-check-circle"></i>
      </button>

      <button *ngIf="todo.done" (click)="markTodoAsUndone(todo)" class="todo-btn">
        <i class="fas fa-check-circle"></i>
      </button>

      <button (click)="deleteTodo(todo)" class="todo-btn">
        <i class="far fa-trash-alt"></i>
      </button>
    </div>
  </li>
</ul>

<form [formGroup]="createTodoForm" *ngIf="state === 'create'" class="card new-todo-form animate__animated animate__flipInX">
  <fieldset>
    <div class="form-input-group">
      <label for="">Nova Tarefa</label>
      <input type="text" placeholder="Título da tarefa" maxlength="60" formControlName="title">
      <small *ngIf="createTodoForm.controls.title.invalid && !createTodoForm.controls.title.pristine">Este campo deve conter entre 1 e 60 caracteres.</small>
    </div>

    <button [disabled]="createTodoForm.invalid" (click)="addTodo()" class="btn">
      <i class="fas fa-check-circle"></i>
      Salvar
    </button>
  </fieldset>
</form>

<div class="btn-group">
  <button class="btn" (click)="changeState('create')" *ngIf="state === 'list'">
    <i class="fas fa-plus-circle"></i>
    Nova Tarefa
  </button>
  <button class="btn" (click)="changeState('list')" *ngIf="state === 'create'">
    <i class="fas fa-arrow-left"></i>
    Voltar
  </button>

  <button class="btn btn-dark" *ngIf="colorMode !== 'dark'" (click)="changeColorMode('dark')">
    <i class="fas fa-moon"></i>
    Modo Escuro
  </button>

  <button class="btn btn-light" *ngIf="colorMode === 'dark'" (click)="changeColorMode('light')">
    <i class="fas fa-sun"></i>
    Modo Claro
  </button>
</div>
